-var title = "NewProvidence"
-var description = ""
-var keywords = ""
-var og_img = "img/OG.png"
-var url = "https://antongorban.github.io/newprovidence"

doctype html
html(lang="ru")
	head
		//- About document
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(name="description" content=description)
		meta(name="keywords" content=keywords)
		title= title
		//- Icons
		link(rel="icon" href="img/ico.ico")
		link(rel="shortcut icon" href="img/ico.ico")
		//- OG
		meta(property="og:title" content=title)
		meta(property="og:type" content="website")
		meta(property="og:image" content=og_img)
		meta(property="og:url" content=url)
		meta(property="og:description" content=description)
		//- Styles
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Varela+Round&display=swap" rel="stylesheet">
		link(rel="stylesheet" href="css/normalize.css")
		link(rel="stylesheet" href="css/slick.css")
		link(rel="stylesheet" href="css/slick-theme.css")
		link(rel="stylesheet" href="css/animate.min.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="css/media.css")
	body
		header
			.container
				.hat
					nav
						#burger
							span.burger__item
							span.burger__item
							span.burger__item
						ul.nav.nav_left
							li.nav__item
								a.nav__link(href="#tour") Tour
							li.nav__item
								a.nav__link(href="#") Features
							li.nav__item
								a.nav__link(href="#") Pricing
					.logo 
						span.logo_bold New
						|Providence
					nav
						ul.nav.nav_right
							li.nav__item
								a.nav__link(href="#") Help
							li.nav__item
								a.nav__link(href="#") Contacts
						a.button.hat__button(href="#") Get App
				.description.header__description
					h1.description__title What happens tomorrow?
					p.description__text.
						The sight of the tumblers restored Bob Sawyer to a degree of equanimity which he had not possessed since his interview with his landlady. His face brightened up, and he began to feel quite convivial.
				.header__button-wrap
					a.button.header__button.border-button(href="#") Watch video
		section#tour
			.container
				.pluses-wrap
					.plus-wrap
						.description.plus__description
							h3.description__title Real-time all the time
							p.description__text Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
							p.description__text Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.
					.plus-wrap
						.description.plus__description
							h3.description__title Adopt without any obstacles
							p.description__text This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.
							p.description__text This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.
				.protect-wrap
					.description.protect__description
						h2.description__title Your day is protected
						p.description__text There have not been any since we have lived here, said my mother.
						p.description__text We thought - Mr. Copperfield thought - it was quite a large rookery; but the nests were very old ones, and the birds have deserted them a long while.
						.buttons-wrap
							a.button.protect__button(href="#") Try to hack us
							a.button.protect__button.border-button(href="#") Learn more
				.everywhere-wrap
					.description.everywhere__description
						h2.description__title We are almost everywhere
						p.description__text Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
						p.description__text Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
						.everywhere__partners
							.partner__title Partners
							img.partner__logo(src="img/dropbox.png", alt="dropbox")
							img.partner__logo(src="img/evernote.png", alt="evernote")
		script(src="js/jquery.min.js")
		<script src="https://kit.fontawesome.com/5b524ce3d9.js" crossorigin="anonymous"></script>
		script(src="js/slick.min.js")
		script(src="js/main.js")
